require "sinatra/base"
APP_ROOT = File.expand_path(File.dirname(__FILE__))
$: << "#{APP_ROOT}/app/"

# <%= name %> - app

require "<%= name %>"

map <%= name.camelize %>.app_path do
  run <%= name.camelize %>
end