source 'https://rubygems.org'

# Specify your gem's dependencies in <%= name %>.gemspec
# gemspec

gem "sinatra"
gem "unicorn"
gem "sprockets"
gem "yui-compressor"
gem "haml"

group :test do
  gem "rspec"
  gem "jasmine"
  # gem "jasmine-phantom"
  gem "factory_girl"
  #gem "capybara"
  #gem "poltergeist"
end

group :development do
  gem "capistrano"
end